<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="ProfilerCPUSettings_filter_type" value="2"/>
<stringAttribute key="ProfilerCPUSettings_filter_value" value="com.sinoway.base.bean.*,&#13;&#10;com.sinoway.base.cache.*,&#13;&#10;com.sinoway.base.entity.*,&#13;&#10;com.sinoway.base.facde.*,&#13;&#10;com.sinoway.base.service.*,&#13;&#10;com.sinoway.common.action.*,&#13;&#10;com.sinoway.common.cache.*,&#13;&#10;com.sinoway.common.config.*,&#13;&#10;com.sinoway.common.entity.*,&#13;&#10;com.sinoway.common.exception.*,&#13;&#10;com.sinoway.common.frame.*,&#13;&#10;com.sinoway.common.service.*,&#13;&#10;com.sinoway.common.util.*"/>
<stringAttribute key="ProfilerCPUSettings_profile_runnables" value="true"/>
<stringAttribute key="ProfilerCPUSettings_root_classes" value="com.sinoway.base.bean.**&#10;com.sinoway.base.cache.**&#10;com.sinoway.base.entity.**&#10;com.sinoway.base.facde.**&#10;com.sinoway.base.service.**&#10;com.sinoway.common.action.**&#10;com.sinoway.common.cache.**&#10;com.sinoway.common.config.**&#10;com.sinoway.common.entity.**&#10;com.sinoway.common.exception.**&#10;com.sinoway.common.frame.**&#10;com.sinoway.common.service.**&#10;com.sinoway.common.util.**&#10;"/>
<stringAttribute key="ProfilerMemorySettings_mode" value="4"/>
<stringAttribute key="ProfilerMemorySettings_stacktraces" value="-1"/>
<stringAttribute key="ProfilerMemorySettings_track_every" value="10"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/sinoway_pub/src/com/sinoway/common/action/CommonConfigAction.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sinoway.common.action.CommonConfigAction"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sinoway_pub"/>
<stringAttribute key="profiler.settings.cpu.profiling.type" value="0"/>
<stringAttribute key="profiler.settings.instr.scheme" value="1"/>
<stringAttribute key="profiler.settings.instrument.empty.methods" value="true"/>
<stringAttribute key="profiler.settings.instrument.method.invoke" value="true"/>
<stringAttribute key="profiler.settings.istrument.getter.setter.methods" value="true"/>
<stringAttribute key="profiler.settings.n.profiled.threads.limit" value="32"/>
<stringAttribute key="profiler.settings.obj.alloc.stack.sampling.depth" value="-1"/>
<stringAttribute key="profiler.settings.sampling.interval" value="10"/>
</launchConfiguration>
